@use "reset";
@use "variables/global";
@use "theme/normal";
@use "theme/dark";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  min-height: calc(100vh - var(--navbar-height));
  width: 100%;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

