.app.dark {
  --bg-color: #090960;
  --inverted-bg-color: #9f9f9f;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #04285e;
  --inverted-secondary-color: #0063f8;
}

