.app.light {
  --bg-color: #9f9f9f;
  --inverted-bg-color: #090960;

  --primary-color: #0d57c6;
  --secondary-color: #0063f8;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
